/*-----------mobile first-----------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display";
}

body {
    width: 100vw;
}

.main__container {
    min-width: 1024px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo__container {
    height: 10vh;
    margin-top: 4em;
}

.main__container .title__box {
    display: flex;
    flex-direction: row;
    gap: 6em;
}

.title__box .container__title {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 25em;
}

.container__title .title__main {
    font-weight: 800;
}

.container__title .description__title {
    color: #747272;
}

.button__box .button {
    padding: .8em 2em;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    margin: .5em;
    cursor: pointer;
}

.button__box .button__1 {
     background-color: #4D96A9;
     color: #fff;
}

.button__1 .button__style {
    color: #69c8e2;
}

.button__box .button__2 {
    background-color: #855FB1;
    color: #fff;
}

.main__principal {

}

.main__principal .decoration__number {
    margin-top: 10em;
}

.main__principal> .decoration__number .line__div {
    height: 8em;
    width: 50%;
    border-right: 1px solid #747272;
    display: flex;
    align-items: center;
    position: relative;
    bottom: .8em
}

.decoration__number .line__div span {
    color: #747272;
    font-weight: 900;
}

.main__principal> .decoration__number span {
    border-radius: 100%;
    border: 1px solid #747272;
    padding: .8em;
}

.main__principal .box__image {
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    gap: 2em;
    height: 20em;
}

.main__principal >  .box__image img {
    border-radius: 1em;
}