
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display";
}

body, html{
    overflow-x: hidden;
}

.images__container > .left, .right {
    display: none;
}

.main__container {    
    max-width: 468px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.images__container {
    margin: 3em 0;
}

.logo__container {
    padding-top: 2em;
}

.images__container .hero__tablet {    
    max-width: 90%;
    height: 12em;
    
}

.container__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__title .description__header{
   padding: 1.5em 0;
   width: 60%;
   color: rgb(120, 126, 123);
   font-size: .9em;
}

.button__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    padding: 0 12em;
}

 .button {
    border-radius: 50px;
    border: none;
    width: max-content;
    padding: 1em 1.5em;
    font-weight: 600;
    color: #fff;
}

.button__1 {
    background-color: #4D96A9;
}

.button__1 span {
    color: #69c8e2;;
}

.button__box .button__2 {
    background-color: #855FB1;
}

.separador {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0;
}

.separador .line__div {
    height: 5em;
    border-right: 1px solid #c7c2c2;
}

.separador span {
    border-radius: 100%;
    padding: .7em;
    border: 1px solid #c7c2c2;
    color: #a09b9b;
    font-weight: 600;
    background-color: #fff;
}

.box__grid img {
    height: 10em;
    border-radius: .8em;
}

.box__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 100vw;
    place-items: center;
    row-gap: 2em;
    column-gap: 1em;
    padding: 0 1em 3em 1em;
}

.box__built .built__title {
    text-transform: uppercase;
    color: #4D96A9;
    letter-spacing: .3em;
    line-height: 4;
}

.box__built .built__sub {
    font-weight: 900;
    width: 55%;
    margin: auto;
    margin-bottom: 1em;
}

.box__built p {
    color:#a09b9b;
    padding: 0 1em;
}


.footer__main {
    background-image: url(../assets/mobile/image-footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
    position: relative;
    z-index: 10;
    margin-top: 12em;
    display: flex;
    flex-direction: column;
    z-index: 10;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
}

.footer__main::before {
    content: '';
    display: block;
    background-color:  rgba(77, 150, 169, 0.7);;
    position: absolute;
    inset: 0;
    z-index: 1;
}

.footer__main > * {
    position: relative;
    z-index: 2;
}

.separador2 {
    align-self: center;
    position: absolute;
    z-index: 20;
    bottom: 24.5em;
}

.footer__button {
    background-color: #855FB1;
    color: #fff;
}

.footer__button span {
    color: #ac81dd;
}

.footer__title {
    font-weight: 900;
    font-size: 2em;
}

.footer__p {
    max-width: 70%;
    font-size: .9em;
}

@media (min-width: 700px) {
    .main__container {
        max-width: 1023px;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .images__container .hero__tablet {
        height: auto;
    }

    .button__box {
        display: flex;
        flex-direction: row;
        justify-content: center
    }

    .box__image {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .footer__main {
        background-image: url(../assets/desktop/image-footer.jpg);
        width: 100%;
    }

    .box__built p {
        max-width: 70%;
        margin: auto;
    }
}

@media (min-width: 1024px) {
}